html,
body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
}

.calculator {
    background: #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
}

.display {
    font-size: 1.2em;
    flex: 1;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    color: white;
    background: #181818;
    overflow-y: auto;
    box-sizing: border-box;
}

.input-area {
    display: flex;
    border-top: 2px solid #333;
}

.input-area input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 0;
    background: #2f2f2f;
    color: white;
}

.input-area button {
    padding: 0 20px;
    font-size: 1em;
    background: #2f2f2f;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.input-area button:hover {
    background: #006400;
}