html,
body {
  background: #000;
  display: flex;
  font-family: sans-serif;
}

.calculator {
  background: #000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 132%;
}

.display {
  font-size: 6.5em;
  height: 40%;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  color: white;
  background: #181818;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  height: 100%;
}

.buttons input[type="button"] {
  padding: 12px;
  font-size: 3.1em;
  font-weight: bold;
  background: #2f2f2f;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.buttons input[type="button"]:hover {
  background: #006400;
}

.display:focus {
  outline: none;
}